@media screen and (max-width:1200px) {
    .results li {
        flex:0 0 calc((100% - (50px * 2)) / 3);
        max-width:calc((100% - (50px * 2)) / 3);
    }
}
@media screen and (max-width:900px) {
    header {
        flex-direction:column;
        padding:3rem 3rem 1.5rem 3rem
    }
    nav {
        margin:2rem 0 0 0;
    }
}
@media screen and (max-width:800px) {
    .results li {
        flex:0 0 calc((100% - 50px) / 2);
        max-width:calc((100% - 50px) / 2);
    }
}
@media screen and (max-width:650px) {
    header {
        padding:2.5rem 1rem 1.5rem 1rem
    }
    .search-bar {
        padding:.75rem 4rem;
        width:100%;
    }
    .backBtn { display:none; }
    form { width:100%; }
    form input[type="text"] { width:100%; }
    .results li {
        flex:0 0 100%;
        max-width:100%;
    }
}